*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    width: 90%;
    height: 1000px;

}
.fo{
    width: 39%;
    height: 890px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    border: 1px solid black;
}
h1{
    font-size: 32px;
    margin-top: 30px;
    margin-left: 5px;
}
.bn{
    width: 120px;
    height: 39px;
    margin-left: 10px;
    background-color: rgb(78,240,55);
    border: none;
} 
.bn>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.fa-whatsapp{
    font-size: 30px;
}
.fo>p{
    font-weight: 30px;
    align-items: center;
    margin-left: 30px;
    margin-top: 25px;
}
input{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    border-bottom: 2px solid red;
    border-top: 2px solid rgb(150, 247, 5);
    border-left: 2px solid yellow;
}
:placeholder-shown{
    color: white;
    background-color: rgb(184, 184, 219);
    font-size: 20px;
}
select{
    margin-left: 10px;
    width: 90%;
    height: 40px;
}
.fo .bnnn{
    margin-left: 5px;
    width: 95%;
    height: 40px;
    margin-top: 10px;
    background-color: rgb(216,14,112);
    border: none;
    font-size: 20px;
    cursor: pointer;
}
  .ba{
    width: 95%;
    height: 40px;
    margin-left: 5px;
    margin-top: 40px;
}
.ba a{
    text-decoration: none;
    font-size: 17px;
}
@media screen and (max-width:768px) {
    form{
        width: 100%;
        display: flex;
    }
    .fo{
        width: 90%;
        height: fit-content;
    }
    input{
        width: 90%;
        height: fit-content;
    }
}